.termsContainer {
  display: flex;
  align-items: center;
  gap: 1rem; /* Add spacing between elements */

  @media (max-width: 768px) {
    flex-direction: column; /* Stack vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
  }
}

.termsLabel {
  font-size: 18px;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

.termsLabel input {
  margin-right: 0.5rem;
  transform: scale(1.5); /* Adjust scale as needed */
  width: 20px; /* Optional: Set a specific width */
  height: 20px; /* Optional: Set a specific height */
}

.termsLabel a {
  color: #0070f3;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

