.header {
  position: sticky;  /* Makes the header sticky */
  top: 0; /* Ensures it sticks to the top */
  z-index: 1000; /* Ensures it stays above other content */
  padding: 6px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Transparent white background */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  transition: background-color 0.3s ease; /* Smooth transition when scrolling */
}

.wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 170px;
}

.hide {
  display: none;
}

